.header{
  margin-bottom: 26px;
}

.header-top {
  height: 70px;

  border-radius: 5px;

  display: flex;
  align-items: center;

  background-color: var(--light-green-color);
}

.header__logo {
  display: block;
  padding-left: 14px;

  color: var(--white-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 1.28em;

  text-transform: capitalize;
}

.header__burger-img {
  display: block;
  margin-right: 17px;
  margin-left: auto;
}
