.order-call {
  margin-bottom: 35px;
}

.order-call__inner {
  height: 231px;

  background-image: url(./../images/order-call-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  border-radius: 4px;

  position: relative;
}

.order-call__inner::after {
  content: url(./../images/figura1.png);
  position: absolute;

  top: 0;
  left: 0;
}

.order-call-box {
  padding: 13px;
  border-radius: 7px;
  margin: 59px auto 19px;

  background-color: var(--white-color);

  z-index: 10;
}

.order-call__title {
  margin-bottom: 13px;

  text-transform: uppercase;
}

.order-call__title span {
  display: block;
}

.order-call__text {
  margin-bottom: 8px;

  font-size: 11px;
  line-height: 1.27em;
}

.order-call__btn {
  padding: 6px 43px;
  margin: 0 auto;

  font-size: 10px;
  line-height: 1.3em;
}

@media (min-width: 768px) {
  .order-call {
    margin-bottom: 57px;
  }

  .order-call__inner {
    height: 165px;

    background-image: url(./../images/order-call-bg2.jpg);
  }

  .order-call__inner::after {
    content: url(./../images/figura2.png);
  }

  .order-call-box {
    margin: 26px 0 25px 20px;
  }

  .order-call__title {
    margin-bottom: 8px;

    font-size: 18px;
    line-height: 1.22em;
  }

  .order-call__title span {
    display: inline;
  }

  .order-call__btn {
    margin: 0;

    font-size: 11px;
    line-height: 1.27em;
  }
}

@media (min-width: 1024px) {
  .order-call {
    margin-bottom: 47px;
  }

  .order-call__inner {
    height: 165px;

    background-image: url(./../images/order-call-bg3.jpg);
  }

  .order-call-box {
    max-width: 290px;
    width: 100%;

    margin: 24px 0 14px 28px;
  }

  .order-call-box {
    padding: 17px 19px;
  }

  .order-call__btn {
    padding: 7px 52px;
    font-size: 11px;
    line-height: 1.27em;
  }
}

@media (min-width: 1336px) {
  .order-call__inner {
    height: 200px;
    background-image: url(./../images/order-call-bg3.jpg);
  }

  .order-call__inner::after {
    content: url(./../images/figura3.png);
  }

  .order-call-box {
    max-width: 309px;

    padding: 21px 10px 21px 24px;
  }

  .order-call__title {
    margin-bottom: 7px;

    font-size: 20px;
    line-height: 1.2em;
  }

  .order-call__text {
    margin-bottom: 15px;

    font-size: 13px;
    line-height: 1.23em;
  }

  .order-call__btn {
    padding: 8px 60px;
    font-size: 13px;
    line-height: 1.23em;
  }
}
