.question {
  margin-bottom: 40px;
}

.question__title {
  margin-bottom: 34px;

  font-size: 23px;
  line-height: 1.21em;
}

.question__text {
  font-size: 13px;
  line-height: 1.23em;
}

.question__img {
  margin-top: -50px;
  margin-bottom: 33px;
}

.question__form__input {
  margin-bottom: 11px;
  margin-right: 0;
}

.question__form__textarea {
  min-height: 90px;

  margin-bottom: 19px;

  resize: none;
}

.question__form__actions__box{
  display: flex;
  justify-content: space-between;
}

.question__form__checkbox__text {
  flex-basis: 147px;

  padding-left: 20px;

  position: relative;

  color: #a3a3a3;

  cursor: pointer;

  font-size: 8px;
  line-height: 1.25em;
}

.question__form__checkbox__text::after{
  content: '';
  position: absolute;

  width: 12px;
  height: 12px;

  border: 1px solid #65C466;
  border-radius: 3px;

  background: #FFFDF9;

  top: 10px;
  left: 0;
}

.question__form__checkbox__text::before{
  display: none;
  content: '';
  position: absolute;

  width: 8px;
  height: 8px;

  border-radius: 2px;

  background: #65C466;

  top: 12px;
  left: 2px;

  z-index: 5;
}

.question__form__checkbox:checked + .question__form__checkbox__text::before{
  display: block;
}

.question__form__checkbox{
  display: none;
}

.question__form__btn{
  padding: 7px 17px;

  font-size: 7px;
  line-height: 1.25em;
}
